<div class="" ng-controller="ReportCtrl">
  <ol class="breadcrumb">
      <li><a href="#/">Report list</a></li>
      <li class="active">Report №{{report_id}}</li>
  </ol>
  
  
  <div class="col-md-6 pull-left">
    <h3>{{company_title || '&nbsp;'}}</h3>
  </div>
  
  <div class="pull-right row">
      <div>Select company</div>
      <select class="form-control" ng-model="company_id" ng-options="z.id as z.name for z in companies" ng-change="set_company_title()" placeholder="Select company name for report"></select>
      <br/>
      <a type="button" class="btn btn-success" ng-click="show_edit()" ng-disabled="(!company_id)"><span class="glyphicon glyphicon-plus"></span> Add</a>
  </div>
  <br/><br/><br/><br/>
  <table class="table table-striped table-bordered">
    <tr>
        <th width="40%">Walbro Employees Entertained<div class="text-muted"><small>List names of Walbro employees involved in expense</small></div></th>
        <th width="10%">Currency of Exp<div class="text-muted"><small>Leave blank if in USD</small></div></th>
        <th width="10%">"Currency Value/Miles in Personal Car"<div class="text-muted"><small>Enter local currency value or car mileage</small></div></th>
        <th width="10%">"Exchange Rate/Miles"<div class="text-muted"><small>Enter "1" if USD,exchange rate,or "miles"</small></div></th>
        <th width="15%">Category for Expenses <div class="text-muted"><small>Select from drop down list </small></div></th>
        <th width="10%">Expense Amount</th>
        <th></th>
    </tr>
    
    <tr ng-repeat="item in data track by $index">
        <td class="col-md-1">{{item.employee}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.value}}</td>
        <td>{{item.rate}}</td>
        <td>{{item.category_title}}</td>
        <td ng-bind="calculate_me(item.value,item.rate) || 0"></td>
        <td>
          <button type="button" class="btn btn-info col-md-12" ng-click="show_edit(item)"><span class="glyphicon glyphicon-pencil"></span> edit</button>
          <button type="button" class="btn btn-danger col-md-12" ng-click="remove_row(item)"><span class="glyphicon glyphicon-remove"></span> remove</button>
        </td>
    </tr>
    <tr><td colspan="7"><span class="pull-rught">Total : {{(calc_total(data))}}</span></td></tr>
  </table>

</div>
<div ng-controller="UploadCtrl" ng-show="report_id"><ng-include src="'views/upload.html'"></ng-include></div>
